.van-nav-bar {
    background-color: #E3A33D !important;
    height: 100rpx;
    width: 100vw;
}

.van-nav-bar__title {
    font-family: PingFangSC-Regular !important;
    font-size: 18px !important;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
}

.van-nav-bar__text {
    font-family: PingFangSC-Medium !important;
    font-size: 14px !important;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
}

.van-hairline--bottom:after {
    border: none !important;
}

.van-icon-arrow-left {
    color: #fff!important;
    font-size: 40rpx!important;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    position: relative;
}